// Styles
$button-background: #5558fa;

// Button
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }

  &.button-primary {
    background-color: $button-background;
  }

  &.button-outlined {
    border: 1px solid $button-background;
    background-color: transparent;
    color: $button-background;

    &:hover {
      background-color: $button-background;
      color: white;
    }
  }
}
