@use "../../shared/styles" as *;

.profile {
  padding-bottom: $padding;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
  @include display-flex();
  @include align-items(center);

  .avatar {
    min-width: 8rem;
    min-height: 8rem;
    margin-right: 2rem;
    border-radius: 10rem;
    background-color: #d5e4f7;
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    .avatarTitle {
      color: #212830;
      font-size: 4rem;
    }
  }

  .name {
    font-size: $title-size;
    font-weight: bold;
    margin-bottom: 0.5rem;
    line-height: 2.6rem;
  }

  .links {
    @include display-flex();
    @include prefix(flex-wrap, wrap, ms);
  }
}
