@use "../../shared/styles/" as *;

.main {
  max-width: 90rem;
  width: 90%;
  height: 70.4rem;
  background-color: #fff;

  .form {
    @include display-flex();
    @include flex-direction-column();
    @include justify-content(center);
    @include align-items(start);

    button {
      margin-top: 1.2rem;

      /* 380px / 16px = 23.75em */
      @media only screen and (max-width: 23.75em) {
        width: 100%;
      }
    }
  }
}
