@use "../../../styles/index" as *;

.container {
  @include display-flex();
  @include flex-direction-column();
  padding-top: $padding;
  font-size: $label-size;
  width: 100%;

  label {
    margin-bottom: 0.5rem;
    @include width-fit-content();
  }

  input {
    border: $border-color;
    border-radius: 0.3rem;
    padding: 0.75rem;
    max-width: 20rem;
    font-size: $label-size;
    width: 100%;
  }

  .error {
    margin-top: 0.5rem;

    .errorHint {
      color: $color-error;
      font-size: 0.875rem;
      line-height: 1.6rem;
    }
  }
}
